.profile__add-photo {
    padding: 12px 62px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.profile__add-photo:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .profile__add-photo {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 880px) {
    .profile__add-photo {
        max-width: 16px;
        padding: 15px 131px;
        margin-top: 36px;
    }
}