.profile {
    width: 68.75vw;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
    color: #ffffff;
}

@media screen and (max-width: 880px) {
    .profile {
        flex-direction: column;
        width: 88.12vw;
        margin: 0 auto 36px;
    }
}