.header {
    width: 68.75vw;
    max-width: 880px;
    margin: 45px auto 45px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 400px) {
    .header {
        width: 100%;
        margin: 28px 0 42px;
    }
}