.profile__information {
    display: grid;
    grid-template-areas: 
    "avatar name edit"
    "avatar description description";
    gap: 10px 18px;

    grid-template-columns: auto 294px auto;
}

@media screen and (max-width: 1000px) {
    .profile__information {
        grid-template-columns: auto 270px auto;
    }
}


@media screen and (max-width: 880px) {
    .profile__information {
        grid-template-columns: auto auto;
        grid-template-areas: 
        "avatar avatar"
        "name edit"
        "description description";
    }
}